<!DOCTYPE html>
<html lang="en" ng-app="Molotov">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Molotov Series</title>
    <!--// Responsive //-->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--// Stylesheets //-->
    <link href="assets/css/style.css" rel="stylesheet" media="screen">
    <link href="assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="assets/images/favicon.ico" rel="icon" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Wrapper Start -->
    <div class="wrapper" ng-controller="MolotovController">
        <!-- Header Start -->
        <header>
            <!-- Header Top Strip Start -->

            <!-- Header Top Strip End -->
            <!-- Logo + Search + Advertisment Start -->
            <div class="logobar">
                <div class="custom-container">
                    <div class="row">
                        <!-- Logo Start -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="align-content: center;padding-left: 50%;margin-left: -110px; padding-bottom:2%;padding-top:1%">
                            <div class="logo" style="">
                                <a href="index.html">
                                    <img src="assets/images/MOLOTOV1.jpg" width="220" alt="Molotov Series">
                                </a>
                            </div>
                            <b>Open-Source</b> 
                        </div>
                        <div align="center" style="padding:0;margin:0;margin-top:-2%" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <i> <h6>O primeiro portal de séries totalmente Open-source</h6></i>
                        </div>
                        <div align="center" style="padding:0;margin:0;margin-top:-2%; display:none" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" id="login" ng-click="login()">login</button>
                            <button type="button" id="logout" ng-click="logout()">logout</button>
                            <button type="button" id="api" ng-click="api()">api user data call</button>
                            <button type="button" id="remove_auth" ng-click="removeAuth()">remove auth</button>
                            <pre>isReady: <span id="is_ready" ng-bind="facebookIsReady"></span></pre>
                            <pre>status: <span id="login_status" ng-bind="loginStatus"></span></pre>
                            <pre>username: <span id="api_first_name" ng-bind="user.first_name"></span></pre>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Logo + Search + Advertisment End -->
            <!-- Navigation Strip Start -->
            <div class="navigationstrip stickynav bordercolor-top">
                <div class="custom-container">
                    <div class="row">
                        <!-- Navigation Start -->
                        <div class="col-lg-10 col-md-9 col-sm-6 col-xs-4">
                            <div class="navigation">
                                <!-- navbar Start -->
                                <div class="navbar yamm navbar-default">
                                    <div class="row">
                                        <div class="navbar-header">
                                            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                                                <i class="fa fa-bars"></i> Menu
                                            </button>
                                        </div>
                                        <div id="navbar-collapse-1" class="navbar-collapse collapse">
                                            <ul class="nav navbar-nav">
                                                <li class="dropdown">
                                                    <a href="#!" class="dropdown-toggle">Ver todas</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#!" class="dropdown-toggle">Favoritos</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#!" class="dropdown-toggle">Séries do dia</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#!/calendar" data-toggle="dropdown" class="dropdown-toggle">Calendário de Séries</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- navbar End -->
                            </div>
                        </div>
                        <!-- Navigation End -->
                    </div>
                </div>
            </div>
            <!-- Navigation Strip End -->
        </header>
        <!-- Header End -->
        <!-- Contents Start -->

        <div class="contents" style="height-min:400px;">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div ng-include="'load.html'" ng-show="load"></div>
                    <div class="custom-container" ng-view>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="fb-like-box" data-href="https://www.facebook.com/molotovseries" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                    <hr>

                    <a class="twitter-timeline" href="https://twitter.com/molotovseries" data-widget-id="">Tweets de @molotovseries</a>
                    <script>
                    ! function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                            p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                    </script>
                </div>
            </div>
        </div>
        <!-- Contents End -->
        <!-- Footer Start -->
        <footer class="style1" style="margin-top:8%">
            <div class="custom-container">
                <!-- Footer Videos Start -->
                <div class="row"></div>
                <!-- Footer Videos End -->
                <hr>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 .col-xs-9">
                        <p class="copyrights">© 2014. All rights reserved? hahahahahaha . Created by Molotov Na Cara
                        </p>
                    </div>

                </div>
            </div>
        </footer>
        <!-- Footer End -->
        <a href="#" class="pull-right gotop btn btn-primary backcolor" style="display: none;"> <i class="fa fa-arrow-up"></i> 
        </a>
    </div>
    <!-- Wrapper End -->
    <!--// Javascript //-->
    <!--<script type="text/javascript" src="assets/js/rsvp-latest.min.js"></script>
    <script type="text/javascript" src="assets/js/basket.min.js"></script>-->
    <script>
    // basket.add({ url: 'assets/js/jquery-2.0.3.min.js'});
    // basket.add({ url: 'assets/js/underscore-min.js'});
    // basket.add({ url: 'assets/js/angular/angular.js'}).then(function(){
    // basket.add({ url: 'assets/js/angular/angular-route.js'});
    // basket.add({ url: 'assets/js/angular-facebook.js'});
    // basket.add({ url: 'app/app.js'});
    // });
    // basket.add({ url: 'assets/js/isotope.pkgd.js'});
    // basket.add({ url: 'assets/js/ng-isotope.js'});
    // basket.add({ url: 'assets/js/bootstrap.min.js'});
    // basket.require({
    //     url: 'assets/js/jquery-2.0.3.min.js'
    // }).wait();
    // basket.require({
    //     url: 'assets/js/bootstrap.min.js'
    // });
    // basket.require({
    //     url: 'assets/js/underscore-min.js'
    // });
    // basket.require({
    //     url: 'assets/js/angular/angular.js'
    // });
    // basket.require({
    //     url: 'assets/js/isotope.pkgd.js'
    // });
    // basket.require({
    //     url: 'assets/js/ng-isotope.js'
    // })
    // basket.require({
    //     url: 'assets/js/angular/angular-route.js'
    // });
    // basket.require({
    //     url: 'assets/js/angular-facebook.js'
    // })
    // basket.require({
    //     url: 'app/app.js',
    //     skipCache: true
    // });
    </script>
    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/angular/angular.js"></script>
    <script type="text/javascript" src="assets/js/angular/angular-route.js"></script>
    <script type="text/javascript" src="assets/js/underscore-min.js"></script>
    <script type="text/javascript" src="assets/js/angular-mongolab.js"></script>
    <script type="text/javascript" src="assets/js/isotope.pkgd.js"></script>
    <script type="text/javascript" src="assets/js/ng-isotope.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-facebook.js"></script>
    <script type="text/javascript" src="assets/js/h5utils.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
</body>

</html>
