<div class="blogdetail sections already-visible come-in" ng-init="getcast();" ng-hide="load">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="avatar">
                <figure>
                    <a href="#">
                        <img ng-src="http://imagizer.imageshack.us/300x300/{{cast.img}}" style="width:100%" alt="">
                    </a>
                </figure>
                <h5>{{cast.nome}}</h5>
                <p>
                    <a href="#">curtir</a>
                </p>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="blogtext">
                <div class="clearfix">
                    <div class="fb-like" data-href="http://localhost/molotovseries/#!/serie/{{serie._id.$oid}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
                <h2 class="heading">{{cast.nome}}</h2>
                <p style="text-align:justify">
                    {{cast.descricao}}
                </p>
                <hr>
                <p>
                    Nasceu: {{cast.nascimentodtano}} em {{cast.nascimentolocal}}
                </p>
                <hr>
                <div class="row">
                    <h5>Séries</h5>
                    <table class="table table-hover table-condensed">
                        <tbody>
                            <tr ng-repeat="s in cast.series">
                                <td style="width:100px">
                                    <a ng-href="#!/serie/{{s._id.$oid}}" class="lightbox-gallery" ng-click="load = true">
                                        <img style="width:auto%; height:auto" bn-lazy-src="http://imagizer.imageshack.us/300x300/{{s.img}}" id="{{s.hashid}}" alt="{{s.nome}}" class="img-responsive hovereffect imageCache">
                                    </a>
                                </td>
                                <td>
                                    <a ng-href="#!/serie/{{s._id.$oid}}">
                                        <h5>{{s.title}}</h5>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <h5>Conte-nos o que você acha dessa celebridade</h5>
                <div class="row">
                    <div class="fb-comments" style="width:100%" data-href="http://molotovseries.com/#!/serie/5408084ff72cbdb533247a25" data-numposts="5" data-colorscheme="light"></div>
                </div>
            </div>
        </div>
    </div>
</div>
