<style>
.element-item1 {
    position: relative;
    float: left;
    width: 75px;
    height: 100px;
    margin: 3px;
    padding: 1px;
    background: #888;
    color: #262524;
}
.element-item1 > * {
    margin: 0;
    padding: 0;
}
.element-item {
    position: relative;
    float: left;
    width: 130px;
    height: 200px;
    margin: 3px;
    padding: 1px;
    background: #888;
    color: #262524;
}
.element-item > * {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
.breadcrumb {
    margin: 0;
    padding: 0;
    color: white;
}
ol {
    background-color: rgb(209, 8, 8);
    color: white;
}
</style>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div style="display:box;" ng-init="getbirthday()" ng-hide="load">
            <!-- <h2>Séries 2014</h2> -->
            <ol align="center" class="breadcrumb" style="background-color: rgb(209, 8, 8);">
                <li>
                    <a href="#">
                        <h4 style="color: white;">Aniversariantes do dia</h4>
                    </a>
                </li>
            </ol>
            <hr>
            <!--.container-->
            <div class="row">
                <figure class="col-md-1 element-item1 gallery" data-category="{{s.nascimentodt}}" ng-repeat="s in currentbirthday">
                    <a ng-href="#!/casting/{{s.hashid}}" class="lightbox-gallery" ng-click="load = true">
                        <img style="width:100%; height:100%" bn-lazy-src="http://imagizer.imageshack.us/300x300/{{s.img}}" id="{{s.hashid}}" alt="{{s.nome}}" class="img-responsive hovereffect imageCache">
                    </a>
                    <figcaption class="backcolor">
                        <a ng-href="#!/casting/{{s.hashid}}">{{s.nome}}</a>
                    </figcaption>
                </figure>
            </div>
            <hr>
        </div>
        <div ng-init="getseriebyyear('2014')" ng-hide="load">
        <ol align="center" class="breadcrumb" style="background-color: rgb(209, 8, 8);">
                <li>
                    <a href="#">
                        <h4 style="color: white;">Séries 2014</h4>
                    </a>
                </li>
            </ol>
            <hr>
            <img id="loadcurrentseries" src="assets/images/loading.gif" alt="">
            <figure class="element-item gallery" data-category="{{s.title}}" ng-repeat="s in currentseries">
                <a ng-href="#!/serie/{{s._id.$oid}}" class="lightbox-gallery" ng-click="load = true">
                    <img style="width:100%; height:100%" bn-lazy-src="{{s.img}}" id="{{s.hashid}}" alt="{{s.title}}" class="img-responsive hovereffect imageCache">
                </a>
                <figcaption class="backcolor">
                    <h4><a ng-href="#!/serie/{{s._id.$oid}}">{{s.title}}</a>
                    </h4>
                </figcaption>
            </figure>
        </div>
        <br>
        <br>
        <br>
        <!--  <div ng-init="getAll()" ng-hide="load">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>
            </div>
            <hr>
            <figure class="element-item gallery" data-category="{{s.title}}" ng-repeat="s in series| filter:search">
                <a ng-href="#!/serie/{{s._id.$oid}}" class="lightbox-gallery" ng-click="load = true">
                    <img style="width:100%; height:100%" bn-lazy-src="{{s.img}}" id="{{s.hashid}}" alt="{{s.title}}" class="img-responsive hovereffect imageCache">
                </a>
                <figcaption class="backcolor">
                    <a ng-href="#!/serie/{{s._id.$oid}}">{{s.title}}</a>
                </figcaption>
            </figure>
        </div> -->
    </div>
</div>
