<script ng-init="tracking()"></script>
<!-- Categories Widget start -->
<div class="widget">
    <h2 class="heading">Menu</h2>
    <div class="categorieslist">
        <ul>
            <li> <a href="shortcode-icons.html">Recomendado</a> 
            </li>
            <li> <a href="shortcode-videos.html">Série do Dia</a> 
            </li>
            <li> <a href="shortcode-audios.html">Aniversariantes</a> 
            </li>
            <li> <a href="shortcode-images.html">Favoritos</a> 
                <ul>
                    <li> <a href="shortcode-buttons.html">> Buttons</a> 
                    </li>
                </ul>
            </li>
            <li> <a href="shortcode-lightboxes.html">Lightboxes</a> 
            </li>
            <li> <a href="shortcode-columns.html">Columns</a> 
            </li>
            <li> <a href="shortcode-typography.html">Typography</a> 
            </li>
            <li> <a href="shortcode-forms.html">Forms</a> 
            </li>
            <li class="active"> <a href="shortcode-alerts.html">Alerts</a> 
            </li>
            <li> <a href="shortcode-mediaobjects.html">Media Objects</a> 
            </li>
            <li> <a href="shortcode-liststyles.html">Liststyles</a> 
            </li>
            <li> <a href="shortcode-googlemap.html">Google Maps</a> 
            </li>
            <li> <a href="shortcode-accordion.html">Accordion</a> 
            </li>
            <li> <a href="shortcode-tabs.html">Tabs</a> 
            </li>
            <li> <a href="shortcode-tooltips.html">Tooltips</a> 
            </li>
            <li> <a href="shortcode-carousals.html">Carousals</a> 
            </li>
            <li> <a href="shortcode-tables.html">Tables</a> 
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<!-- Categories Widget End -->
