<style>
.element-item {
    position: relative;
    float: left;
    width: 50px;
    height: 70px;
    margin: 3px;
    padding: 1px;
    background: #888;
    color: #262524;
}
.element-item > * {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
    background: white;
}
.nav-tabs > li {
    border: 1px solid #ddd;
}
.nav-tabs > li > a {
    padding: 10px;
}
.interactivetabs .nav-tabs > li a {
    color: black;
}
.interactivetabs .nav-tabs > li.active a {
    color: white;
}

</style>
<div class="blogdetail sections already-visible come-in" ng-init="getserie();" ng-hide="load">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="avatar">
                <a href="#">
                    <figure>
                        <img ng-src="{{serie.img}}" style="width:100%" alt="">
                    </figure>
                </a>
                <h5>{{serie.title}}</h5>
                <h6>({{serie.ano}})</h6>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="blogtext">
                <h2 class="heading"> <u> {{serie.title}} ( {{serie.ano}} )</u> 
                    <div class="fb-like" data-href="http://localhost/molotovseries/#!/serie/{{serie._id.$oid}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="float:left"></div>
                </h2>
                <a ng-href="#!/seriebycat/{{c}}" class="btn btn-primary btn-xs backcolor" ng-repeat="c in serie.info.categorias" style="margin-right:1%">{{c}}</a>
                <hr>
                <div class="interactivetabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" style="background: white;">
                        <li class="active"><a href="#info" data-toggle="tab">Informações</a>
                        </li>
                        <li class=""><a href="#temps" data-toggle="tab">Temporadas</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="info">

                            <h2 class="heading">Sinopse</h2>
                            <p style="text-align:justify">

                            </p>
                            <p style="text-align:justify">
                                {{serie.sinopse}}
                                <br>
                                <h6>Time: {{serie.info.time}}</h6>
                            </p>
                            <hr>
                            <div class="row">
                                <h5>Criadores</h5>
                                <a ng-href="#!/casting/{{c.hashid}}" class="btn" ng-repeat="c in serie.info.creators" style="margin-right:1%">{{c.nome}} (?)</a>
                            </div>
                            <div class="row">
                                <h5>Casting</h5>
                                <table class="table table-hover table-condensed">
                                    <tbody>
                                        <tr ng-repeat="s in serie.info.casting">
                                            <td style="width:60px">
                                                <a ng-href="#!/casting/{{s.hashid}}" class="lightbox-gallery" ng-click="load = true">
                                                    <img style="width:auto%; height:auto" bn-lazy-src=" http://imagizer.imageshack.us/50x50/{{s.img}}" id="{{s.hashid}}" alt="{{s.nome}}" class="img-responsive hovereffect imageCache">
                                                </a>
                                            </td>
                                            <td>
                                                <a ng-href="#!/casting/{{s.hashid}}">
                                                    <h5>{{s.nome}}</h5>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="temps">
                            

                        </div>
                    </div>
                </div>

                <hr>
                <h5>Conte-nos o que você acha dessa série</h5>
                <div class="row">
                    <div class="fb-comments" style="width:100%" data-href="http://molotovseries.com/#!/serie/5408084ff72cbdb533247a25" data-numposts="5" data-colorscheme="light"></div>
                </div>
            </div>
        </div>
    </div>
</div>
