<div class="sections already-visible come-in" ng-init="showepisode()" ng-hide="load">
    <h2 class="heading" style="margin-top:-3%">{{serie.title}} - {{episode}}</h2>
    <div class="row">
        <iframe class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;height:600px;border:1px solid grey" ng-src="{{serie.currentlink | trusted}}" frameborder="1" allowfullscreen>

        </iframe>
    </div>
    <hr>
    <h5>Conte-nos o que você achou desse episódio</h5>
    <div class="row">
        <div class="fb-comments" style="width:100%" data-href="http://molotovseries.com/#!/serie/{{serie._id.$oid}}" data-numposts="5" data-colorscheme="light"></div>
    </div>
</div>

<script>
$(window).load(function() {
    $('iframe').contents().find('a').click(function(event) {
        alert("demo only");
        event.preventDefault();
    });
});
</script>
